.Phone{
  height: 88vh;
  width: 300px;
  min-width: 300px;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-top: 65px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  position: relative;
}
.Phone .PhoneDetailsTop{
  height: 8%;
  width: 100%;
  background-color: #FFFFFF;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 20px;
}
.Phone .PhoneDetailsTop .Vent{
  width: 60px;
  height: 5px;
  background-color: #F2F2F2;
  margin: 0 auto;
  border-radius: 10px;
}
.Phone .ShowCaseImage{
  height: 82%;
  width: 98%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 1%;
  border: solid 1px #CCCCCC;
}
.Phone .PhoneDetailsBottom{
  padding-top: 10px;
}
.Phone .PhoneDetailsBottom .HomeButton{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #FFFFFF;
  margin: 0 auto;
  border: solid 1px #CCCCCC;
}
